.register{
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rContainer{
    display: flex;
    flex-direction: column;
    gap:10px;
}
form{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.rInput{
padding:10px;
height:30px;
}
.rButton{
    padding:10px 20px;
    font-weight: bold;
    background-color: #0071c2;
    color:white;
    border:none;
    border-radius: 5px;
    cursor: pointer;
}

.rButton:disabled{
    background-color: #0071c28c;
    cursor: not-allowed;
  }
  
  .success{
    color:rgb(20, 193, 20);
    font-weight: bold;
  }
  .failure{
    color:red;
    font-weight: bold;
  }